


:root {
	--color-light: #fff;
		--color-dark: #000;
		--first-blue: #091f40;
		--second-blue: #1a51a3;
		--third-blue: #142e39;
		--color-red: #c5203e;
		--first-gray: gray;
	}	

button {
  border-color: black;
  padding: black;
  margin: black;
  color: var(--color-dark);
}

body {
color: #b1b1b1; /* Light gray */
  background-color: #242424; /* Dark gray */
  font-size: 18px;
  margin: 50px;
  padding: 0 rgb(53, 53, 53);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: auto
}

h1 {
  font-size: 4em;
  text-align: center;
  color: blue;
  width: 100%;
  text-align: center;
  text-decoration-color: rgb(0, 0, 133);
  background-color: black;
  box-sizing: border-box;
  box-shadow: rgb(0, 0, 133);
  }

  p { 
    box-sizing: content-box;
    width: 95%;
    align-content: left;
    text-align: left;
    padding: 50px;
    margin: 50px
  }

h2 {
  font-size: 2em;
  text-decoration-line: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
}

#Programmer-Gif {
  margin: auto;
}

footer { 
  align-content: left;
  color: var(--color-dark);
   

}

html { 
  box-sizing: border-box;
  margin: auto;
}

ul {
  list-style-type: none;
}