
* {
  box-sizing: border-box;
  margin: 1px;
  padding: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
}

:root {
	--color-light: #fff;
  --color-dark: #000;
  --first-blue: #091f40;
  --second-blue: #1a51a3;
  --third-blue: #142e39;
  --color-red: #c5203e;
  --first-gray: gray;
}	

body {
  color: var(--color-dark);
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  text-align: start;
  text-decoration: none;
}

.header {
  color: var(--color-dark);
  background-color: var(--first-gray);
  display: flex;
  justify-content: space-between;
}

.headertitle {
  display: flex;
  justify-content: end;
  padding: 0;
  margin: 0;
}

.p {
  text-indent: 10px;
  padding: 5px;
}

ul {
   list-style: none;
   overflow: hidden;
}

 li {
   display: block;
   float: right;
 }

a {
  display: block;
  text-decoration: none;
  float: right;
}

 li a:hover {
   color: var(--first-blue);
   background-color: rgb(189, 189, 189);
 }

 footer {
  color: var(--color-dark);
  background-color: var(--first-gray);
  display: block;
  float: right;
  border-color: var(--color-dark) 3px;
 }

 .footerlinks {
   display: flex;
   justify-content: space-between;
 }

