body {
  color: #949494; /* Light gray */
  background-color: #850000; /* Red */
  border: 1px navy;
  font-size: 18px;
  margin: 0;
  padding: 0 rgb(53, 53, 53);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 4em;
  text-align: center;
  color: blue;
  width: 100%;
  text-align: center;
  text-decoration-color: rgb(0, 0, 121);
  background-color: black;
  box-sizing: border-box;
  box-shadow: rgb(0, 0, 133);
  padding: 30px;
}

h2 {
  font-size: 1.6em;
}
.paragraph {
  text-align: center;
}
.list {
  list-style-type: none;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-roman;
}

#Programmer-Gif {
  margin: auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social {
  margin: 1rem;
  width: 40px;
  height: 40px;
}
.social:hover {
  transition: 300ms;
  transform: scale(1.1);
}
